
<ion-tabs>

  
  <ion-tab-bar slot="bottom" color="medium">
    <ion-tab-button tab="accueil">
      <ion-icon name="home-outline"color="secondary"></ion-icon>
       Acceuil
    </ion-tab-button>
    <ion-tab-button tab="bluetooth">
      <ion-icon name="bluetooth-outline"></ion-icon>
        Bluetooth
    </ion-tab-button>
    <ion-tab-button tab="appareil">
      <ion-icon name="laptop-outline"></ion-icon>
      Appareil
    </ion-tab-button>
    <ion-tab-button tab="about">
      <ion-icon name="person-circle-outline"></ion-icon>
        A propos
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

