<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>partager des images</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  
  <ion-button mode="md" color="primary" (click)="takePicture()" *ngIf="url==''" size="12">&nbsp; Prendre une photo &nbsp;</ion-button>
  <div  *ngIf="url!=''" >
<ion-card>
  <ion-card-header>
    <h1 class="ion-text-center" color="primary"><b> Image choisi</b></h1>
  </ion-card-header>
  <ion-card class="ion-text-center">
    <img src="{{url}}"/>
    <ion-card-content>
        <ion-button mode="md" color="primary" (click)="handleShare(url)" class="ion-text-center">&nbsp; Partager &nbsp;</ion-button>
    </ion-card-content>
  </ion-card>
</ion-card>
</div>
</ion-content>
