<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <img src="assets/icon/lo.png" width="40px" style="display:inline-block" height="30px"/>
    <ion-title class="titleicon" style="display:inline-block" > Informations Appareil </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        Manufacturer
      </ion-label>
      <ion-note slot="end">{{ manufacturer }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Nom de l'appareil</ion-label>
      <ion-note slot="end">{{ deviceName }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Model de l'appareil</ion-label>
      <ion-note slot="end">{{ deviceModel }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Version du system</ion-label>
      <ion-note slot="end">{{ osVersion }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        Platforme
      </ion-label>
      <ion-note slot="end">{{ platform }}</ion-note>
    </ion-item>







     <ion-item>
      <ion-label>
       Niveau de batterie
      </ion-label>
      <ion-note slot="end">{{ batteryLevel }}%</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>
        Etat de la batterie
      </ion-label>
      <ion-note slot="end">{{ isCharging }}</ion-note>
    </ion-item>
  </ion-list>


      <ion-item>
        <ion-label>memoire utiliser par l'application</ion-label>
        <ion-label slot="end">{{  usedMemory }} Mo</ion-label>
      </ion-item>
      <ion-item>
      <ion-label>memoire total</ion-label>
        <ion-label slot="end">{{totalDiskSpace }} Go</ion-label>
      </ion-item>
    </ion-content>