.about_us {
    h2 {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 2rem;
    }
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .col-md-6 {
        width: 48%;
        .person {
          text-align: center;
          h3 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
          }
          p {
            margin-bottom: 1.5rem;
          }
          img {
            width: 100%;
            max-width: 150px;
            margin-bottom: 1rem;
            border-radius: 50%;
            border: 2px solid #fff;
            box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.06),
                        0 7.5px 15px rgba(0, 0, 0, 0.07),
                        0 15px 30px rgba(0, 0, 0, 0.08);
          }
        }
      }
    }
  }
.ion-content {
    background-color: #5900ff;
 }