<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <img src="assets/icon/lo.png" width="40px" style="display:inline-block" height="30px"/>
    <ion-title class="titleicon" style="display:inline-block" > A propos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="about_us">
    <div class="container">
      <h2 color="secondary">À propos de nous</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="person">
            <img src="assets/icon/t.jpeg" alt="Person 1">
            <h3>Tsidie Pierre</h3>
            <p> Pierre berkam est un développeur front-end/back-end expérimenté qui a travaillé sur plusieurs projets Ionic.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="person">
            <img src="assets/icon/d.jpeg" alt="Person 2">
            <h3> Takoutche Silvestre</h3>
            <p> Silvestre est un designer UX/UI talentueux qui a créé plusieurs belles interfaces pour des applications Ionic.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>
