<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <img src="assets/icon/lo.png" width="40px" style="display:inline-block" height="30px"/>
    <ion-title class="titleicon" style="display:inline-block" > ACCEUIL </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header color="medium">
      <ion-card-subtitle color="primary" style="text-align: center;"> Bienvenu(e) a ShareApp leader par exellence de partage de fichier </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/icon/partage-a-proximite-comment-envoyer-un-fichier-sans-wi-fi-ni-reseau.jpeg "/>
    <ion-card-header>
      
      <ion-card-subtitle color="primary"> ShareApp </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
    ShareApp est une application mobile concue sur une technologie appelee ionic ayant plusieurs fonctionnalites tels que le partage de fichier 
    avec la technologie bluetooth ,elle dispose  de plusieurs interfaces dont les plus importantes sont bluetooth,appareil qui respectivement assurent la vue des appareils connectes a bluetooth et les informations de l'appareil
    </ion-card-content>
  </ion-card>
 
</ion-content>
