<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
      <img src="assets/icon/lo.png" width="40px" style="display:inline-block" height="30px"/>
      <ion-title class="titleicon" style="display:inline-block" > bluetooth </ion-title>
    <ion-buttons slot="end">
      <ion-item >
        <ion-label>
          <ion-icon size="large" name="bluetooth"></ion-icon>
        </ion-label>
        <ion-toggle (ionChange)="toggleBle($event)" [(ngModel)]="ble"></ion-toggle>
      </ion-item>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col >
        
      </ion-col>
      <ion-col >
        <ion-button *ngIf="scanText==''" (click)="startScanning()" style="width: 100%;">
          <ion-icon size="large" name="refresh-circle"></ion-icon>
          <h1>Scanner</h1>
        </ion-button>
      </ion-col>
      <ion-col ></ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        {{scanText}}
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list >
    <ion-item *ngFor="let device of devices;let i = index;">
      <b style="color:#050927;">{{device.name || 'sans nom'}}</b>
      <p>{{device.uuids}}</p>
      <p>{{device.rssi}}</p>
      <ion-button (click)="consulter(device)"
      slot="end"><ion-icon name="seting"></ion-icon>
        Consulter le peripherique
    </ion-button>
   </ion-item>
  </ion-list>

</ion-content>
